body{
    background-image: url(https://img.freepik.com/free-vector/doodle-hand-drawn-searching-stickers-set_52683-84218.jpg);
    
  }
  
  
  .beauty{
    height:300px;
    width:300px;
    border:5px solid red;
    margin:100px;
    padding:30px;
    background-image: url(https://images.unsplash.com/photo-1522069169874-c58ec4b76be5?q);
    background-size: cover;
    color:white;